:root
{
	--colors_Row_Hover_and_Selected : #f7f7f7;
	--colors_GridActionColor : #eaeaea;
	--colors_PaginationBarDefaultBackgroundColor : #f7f7f7;
	--colors_GridLineColor : #d9d9d9;
	--colors_AttributeForecolor : #575b5d;
	--colors_BaseColor : #950000;
	--colors_DataBackgroundColor : #fff;
	--colors_BackgroundColor : #eee;
	--colors_ActionHover : #7c0000;
	--colors_BorderPanelColor : #d7dfe3;
	--colors_Danger_CondForm : #dd4b39;
	--colors_Warning : #f39c12;
	--colors_Info_CondForm : #3c8dbc;
	--colors_Success_CondForm : #00a65a;
	--colors_InfoLight : #00c0ef;
	--colors_AttributeSubtitleSplitScreenColor : #999;
	--colors_AttributeLabelColor : #627077;
	--colors_HeaderForecolor : #555;
	--colors_Danger : #f56a67;
	--colors_Warning_CondForm : #fb6e52;
	--colors_TitleFilterForecolor : #67757c;
	--colors_BaseColorForecolor : #950000;
	--colors_GridActionGroupRowHover : #8c8d8e;
	--colors_ReadonlyAttributeFLBorderColor : #f5f4f4;
	--colors_ReadonlyAttributeLabelColor : #a0a2a2;
	--colors_AttributeSplitScreenColor : #222d32;
	--colors_StepForecolor : #808080;
	--colors_GroupByTitleColor : #555;
	--colors_CardTitleColor : #455a64;
	--colors_ActionBorder_and_FocusColor : #8b0000;
	--colors_BaseForecolor : #fff;
	--colors_PDF : #ea4c3a;
	--colors_ExcelColor : #08743b;
	--colors_GridForecolor : #000;
	--colors_StepBackgroundColor : #eee;
	--colors_StepBulletColor : #d9d9d9;
	--colors_BaseColor30 : rgba(149,0,0,0.3);
	--colors_MaterialMenu_ItemForecolor100 : #fff;
	--colors_Success_CondForm_Row_Background : #dff0d8;
	--colors_Danger_CondForm_Row_Background : #f2dede;
	--colors_Warning_CondForm_Row_Background : #faf2cc;
	--colors_Info_CondForm_Row_Background : #e0f1ff;
	--colors_FooterColor : #555;
	--colors_ReadonlyAttributeForecolor : #2f3d4a;
	--colors_PaginationBarDisabledButtonColor : #f7f7f7;
	--colors_GridActionIconColor : #fff;
	--colors_Danger_CondForm_Action : #e5cccc;
	--colors_Warning_CondForm_Action : #fed6be;
	--colors_Success_CondForm_Action : #b9ccb7;
	--colors_Info_CondForm_Action : #bcdcf5;
	--colors_Danger_CondForm_Action_Hover : #e5b5b5;
	--colors_Success_CondForm_Action_Hover : #a4c2a0;
	--colors_Info_CondForm_Action_Hover : #97c9f1;
	--colors_Warning_CondForm_Action_Hover : #f9c2a0;
	--colors_ActionSelectItemPrompt : #9ccf70;
	--colors_GridActionRowHoverColor : #d9d9d9;
	--colors_ActionHoverBorder : #810000;
	--colors_BootstrapPanelTitleColor : #444;
	--colors_GridActionGroupColor : #d9d9d9;
	--colors_ColumnSettingsBackgroundFocus : #fff;
	--colors_PaginationBarHoverButtonColor : #f5f5f5;
	--colors_SidebarMenu_BackgroundColor : #222d32;
	--colors_SidebarMenu_ScrollBackground : #222d32;
	--colors_SidebarMenu_SubmenuItemBackground : #2c3b41;
	--colors_SidebarMenu_SubmenuSelectedItemBackground : #2c3b41;
	--colors_SidebarMenu_SubmenuSelectedItemForecolor : #fff;
	--colors_SidebarMenu_BorderSecondLevelSubmenu : #889097;
	--colors_SidebarMenu_SubtitleBackground : #1a2226;
	--colors_SidebarMenu_LineSeparator : #222d32;
	--colors_SidebarMenu_SubtitleForecolor : #4b646f;
	--colors_SidebarMenu_ItemForecolor : #b8c7ce;
	--colors_SidebarMenu_ItemHoverForecolor : #fff;
	--colors_SidebarMenu_ItemOpenBackground : #1e282c;
	--colors_SidebarMenu_SelectedItemBackground : #1e282c;
	--colors_SidebarMenu_SelectedItemForecolor : #fff;
	--colors_SidebarMenu_ItemHoverBackground : #1e282c;
	--colors_SidebarMenu_SubmenuItemForecolor : #889097;
	--colors_SidebarMenu_SubmenuItemHoverForecolor : #fff;
	--colors_SidebarMenu_CircleSubmenuItemColor : #889097;
	--colors_SidebarMenu_CircelSubmenuItemActiveColor : #5cb85c;
	--colors_SidebarMenu_LineSubmenuItemColor : #889097;
	--colors_SidebarMenu_SearchBackground : #374850;
	--colors_SidebarMenu_SearchBorderColor : #374850;
	--colors_SidebarMenu_SearchFocusBackground : #fff;
	--colors_SidebarMenu_HeaderBackground : #1a2226;
	--colors_MaterialMenu_ItemIconColor100 : #fff;
	--colors_MaterialMenu_ItemHoverBackground20 : rgba(238,238,238,0.2);
	--colors_MaterialMenu_Background53 : rgba(129,0,0,0.53);
	--colors_BaseForecolor80 : rgba(255,255,255,0.8);
	--colors_MaterialMenu_SelectedItemBackground : #fff;
	--colors_MaterialMenu_SelectedItemForecolor : #3c4858;
	--colors_MaterialMenu_Background : #810000;
	--colors_ProgressBarBackColor : #eee;
	--colors_GroupByBackgroundColor : #fbfbfb;

}
